@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Ubuntu+Condensed&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.green-bg {
  width: 100%;
  height: 100vh;
  background-color: #00ff57;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
.logo {
  position: relative;
  bottom: 5%;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #3d185c;
  font-family: "Ubuntu Condensed", sans-serif;
}

.first-h {
  margin: 0rem 1rem;
}

.dots {
  margin: 0rem 0.5rem;
}

.purple-bg {
  position: absolute;
  top: 0;
  background-color: black;
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  perspective: 120rem;
}
.logo-2 {
  position: absolute;
  top: 10%;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
}
.menu:hover {
  background: rgba(0, 0, 0, 0.6);
}

.menu span {
  display: block;
  height: 3px;
  width: 22px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 25px;
}

.image {
  width: 100%;
  height: 100%;
  transform-origin: 100% 0;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.active .image {
  transform: rotateX(-45deg);
}

.image img {
  height: 100%;
  width: 100%;
}

.icons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.icons i {
  font-size: 2.6rem;
  color: #fff;
  margin: 0 3rem;
  opacity: 0;
  transition: all 2s ease;
  cursor: pointer;
}

.active .icons i {
  opacity: 1;
}

@media screen and (max-width: 510px) {
  .logo-2 img,
  .logo img {
    width: 27rem;
  }
}
